@use '../abstract/variables' as *;

.tech-about {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 6rem 2rem;

  &__title {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.6s ease-out;
  }

  &__description {
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.7;
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.6s ease-out 0.2s;
  }

  &__image-element {
    max-width: 100%;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out 0.4s;
  }

  &.active {
    .tech-about__title,
    .tech-about__description,
    .tech-about__image-element {
      opacity: 1;
      transform: translateX(0);
    }

    .tech-about__image-element {
      transform: translateY(0);
    }
  }
}
